/* @import '~antd/dist/antd.css'; */
 

#root {
  /* display: flex; */
  height: 100%;
  background-color: #f5f5f5;
}

#MenuCuenta .ant-menu-item {
  margin: 0 2px 0 2px !important;
}

#MenuCuenta .ant-menu-submenu {
  margin: 0 !important;
}

.inputDisabled input {
  color: #000000 !important;
}

.rotate90 {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
}

/* ant-menu-submenu-horizontal ant-menu-overflowed-submenu ant-menu-submenu-selected */

body {
  background-color: #f5f5f5 !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

button.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
  background-color: #fec00a !important;
  border-color: #fec00a !important;
  opacity: 1;
}

button.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg:hover {
  background-color: #ebb107 !important;
  opacity: 0.9;
}

/* .menuColHeader .ant-menu-submenu-title .anticon + span {
  display: inline;
} */

/* .menuColHeader {
  height: 40px;
} */

/* 
.menuColHeader .ant-layout-header .ant-menu {
  line-height: initial;
} */

/* 
.menuColHeader .ant-menu .ant-menu-dark .ant-menu-root .ant-menu-horizontal {
  height: 100% !important;
}
.menuColHeader ul .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-horizontal {
  line-height: 46px !important;
} */

.oracion:first-letter {
  text-transform: capitalize;
}

.menuColHeader .ant-menu-light.ant-menu-horizontal {
  line-height: 46px !important;
}

/* .menuColHeader .ant-menu-submenu-horizontal:hover {
  background-color: #022335 !important;
} */

#subMenuheader {
  margin: 0 !important;
  /* border-right: 1px solid #ed4a66 !important;
  border-top: 1px solid #ed4a66 !important; */
  /* border-right: 1px solid #022335 !important;
  border-top: 1px solid #022335 !important; */
  /* background-color: #c4c4c4 !important; */
}

#subMenuheader span {
  color: #000000 !important;
}

#subMenuheader:hover {
  background-color: #16181a !important;
}

#subMenuheader:hover>div.ant-menu-submenu-title span {
  /* #subMenuheader:hover span :not(#itemSubMenuHeader span) { */
  color: #ffffff !important;
  /* color: blue !important; */
}

#itemSubMenuHeader:hover {
  margin: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  background-color: #022335 !important;
}

#itemSubMenuHeader:hover span {
  color: #ffffff !important;
  /* color: blue !important; */
}

#itemSubMenuHeader {
  margin: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  /* color: #ffffff !important; */
  /* border-bottom: 1px solid #022335 !important; */
  border-bottom: 1px solid #ed4a66 !important;
  height: 45px !important;
}

#itemSubMenuHeader span {
  color: #000000 !important;
}

/* 
.menuColHeader .ant-menu-item:hover {
  background-color: #022335 !important;
}
.menuColHeader > .ant-menu-item:hover {
  background-color: #022335 !important;
} */

.menuColHeader span {
  color: #000000 !important;
}

/* 
.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item {
  margin: 0px !important;
  padding-top: 5px !important;
}

.ant-menu-vertical .ant-menu-item:hover,
.ant-menu-vertical-left .ant-menu-item:hover,
.ant-menu-vertical-right .ant-menu-item:hover,
.ant-menu-inline .ant-menu-item:hover {
  margin: 0px !important;
  padding-top: 5px !important;
  background-color: #022335 !important;
} */

.linkFooter {
  color: #ffffff !important;
}

.linkFooter:hover {
  color: #e20229 !important;
}

.ant-layout-content {
  min-height: calc(100vh - 20px - 160px) !important;
  /* height: calc(100vh - 70px) !important; */
}

.menuItemHeader span {
  color: #ffffff !important;
}

.menuSubItemHeader {
  color: #ffffff !important;
}

.menuColHeader .ant-menu-item .anticon+span, .menuColHeader .ant-menu-submenu-title .anticon+span {
  color: #000000 !important;
}

.menuColHeader .ant-menu-submenu-title {
  padding: 0 10px 0 10px !important;
}

/* .ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
  color: #ffffff !important;
} */

/* 
.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
  color: rgba(255, 255, 255, 1) !important;
} */

.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
  background-color: #c41a1a !important;
  border-color: #c41a1a !important;
}

.emptyIcon .ant-empty-image {
  height: auto !important;
}

.descriptionViewCheckout table {
  table-layout: fixed !important;
}

.descriptionViewCheckout table .ant-descriptions-item-label {
  width: 30% !important;
}

.ant-steps-item-title {
  line-height: initial;
}

/* 
.subDescripcion {
  padding-bottom: 0px !important;
} */

.drawerFooter .ant-drawer-header {
  text-align: center !important;
  background-color: #d21c1c !important;
}

.drawerFooter .ant-drawer-header .ant-drawer-close {
  color: #ffffff !important;
}

.ModalSedeSelect .ant-modal-header {
  display: flex !important;
  justify-content: center !important;
}

.ModalPaySuccess .ant-modal-header {
  display: flex !important;
  justify-content: center !important;
}

.listTipoPagos .ant-row {
  justify-content: center;
}

.ant-descriptions-item-content {
  text-align: justify;
}

/* .contentHome {
  flex-grow: 1;
  overflow: auto;
} */

/* .ant-menu-item {
  display: flex !important;
  align-items: center;
} */

.imageCol img {
  object-fit: contain;
  background-color: #ffffff;
  /* width: 100% !important;
  height: 500px !important; */
}

.js-image-zoom__zoomed-area {
  width: 100px !important;
  height: 100px !important;
  top: 0 !important;
  left: 0 !important;
  background: transparent !important;
}

.js-image-zoom__zoomed-image {
  /* background-size: 150% 750px !important; */
  width: 450px;
  background-color: #ffffff;
}

.ant-menu-submenu-title {
  display: flex !important;
  align-items: center;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  /* background-color: #d21c1c !important; */
  /* background-color: #022335 !important; */
  background-color: #ffffff !important;
  /* color: '#000000' !important; */
  /* background-color: #de1d1d !important; */
}

.ant-btn-link.btn-link-dark {
  color: #ffffff !important;
}

.ant-btn-link.btn-link-dark:hover, .ant-btn-link.btn-link-dark:focus {
  color: #ed4a66 !important;
  /* color: #D21C1C !important */
}

.layout {
  background-color: white;
}

.ant-page-header-heading-title {
  font-weight: bold !important;
}

.ant-page-header-heading {
  background-color: #f5f5f5 !important;
  padding: 5px 10px 5px 10px;
}

.ant-page-header-content {
  background-color: #ffffff !important;
}

.ant-page-header {
  background-color: #ffffff !important;
}

.CustomIcon {
  font-size: 25px;
  /* width: 5em;
  height: 5em;
  object-fit: contain; */
}

.CustomSmallIcon {
  font-size: 20px;
}

.CustomIconModal {
  font-size: 60px;
  margin-bottom: 10px;
}

.FamiliaIcon {
  /* font-size: 25px; */
  width: 25px;
  height: 25px;
  display: inline-flex;
  /* width: 5em;
  height: 5em;
  object-fit: contain; */
}

.FamiliaIcon svg {
  height: 25px;
  /* width: 5em;
  height: 5em;
  object-fit: contain; */
}

.ant-carousel .slick-slide img {
  /* display: block; */
  /* height: auto !important;
  width: auto;
  max-width: 70%;
  max-height: 40%;
  object-fit: fill;
  */
  object-fit: contain;
  width: 100%;
  height: 230px;
}

.itemPromoV2 img {
  object-fit: contain !important;
  width: 100% !important;
  height: 210px !important;
}

.imageItemPromoLoader {
  object-fit: contain;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 230px !important;
}

.imageItemPromoV2Loader {
  object-fit: contain;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 210px !important;
}

.imageItemView img {
  /* display: block; */
  /* height: auto !important;
  width: auto;
  max-width: 70%;
  max-height: 40%;
  object-fit: fill;
  */
  object-fit: contain;
  /* width: 100%; */
  /* height: 200px; */
  transition: 0.2s;
}

.imageItemPromoV2 img {
  object-fit: contain;
}

.itemView:hover .imageItemView, .itemView:focus .imageItemView {
  /* opacity: 0.3; */
  transform: scale(1.05);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.imageItemViewCart {
  transition: 0.2s;
}

.itemViewCart:hover .imageItemViewCart, .itemViewCart:focus .imageItemViewCart {
  /* opacity: 0.3; */
  transform: scale(1.05);
}

.imageItemPromo {
  transition: 0.2s;
}

.itemPromoV2 {
  transition: 0.2s;
}

.itemPromoV2:hover, .itemPromoV2:focus {
  /* opacity: 0.3; */
  transform: scale(1.02);
}

.imageItemViewLoader {
  /* display: block; */
  /* height: auto !important;
  width: auto;
  max-width: 70%;
  max-height: 40%;
  object-fit: fill;
  */
  object-fit: contain;
  width: 100% !important;
  /* position: relative !important; */
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 200px !important;
}

.imageItemCombo {
  object-fit: contain;
  width: 100%;
  height: 90px;
}

.imageItemComboLoader {
  object-fit: contain;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 90px !important;
}

#ItemDisabledWhite {
  color: #ffffff !important;
}

#ItemDisabledDark {
  color: #000000 !important;
}

.imageItemViewCart {
  object-fit: contain;
  width: 100%;
  height: 130px;
}

.imageItemViewCartLoader {
  object-fit: contain;
  width: 100% !important;
  /* position: relative !important; */
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 130px !important;
}

.imageItemDropdownCart {
  object-fit: contain;
  width: 100%;
  height: 70px;
}

.imageItemDropdownCartLoader {
  object-fit: contain;
  width: 100% !important;
  /* position: relative !important; */
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 70px !important;
}

.imageItemPedidoDetalle {
  object-fit: contain;
  width: 100%;
  height: 80px;
}

.imageItemPedidoDetalleLoader {
  object-fit: contain;
  width: 100% !important;
  /* position: relative !important; */
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  height: 80px !important;
}

.ant-steps.ant-steps-horizontal.ant-steps-small.ant-steps-label-vertical .ant-steps-item.ant-steps-item-custom {
  width: 25% !important;
}

/* TODO: XS */

@media (max-width: 576px) {
  .ant-page-header {
    padding: 10px 10px !important;
  }
  .ant-page-header-heading-title {
    font-size: 17px !important;
  }
  .ant-layout-content {
    min-height: calc(100vh - 160px) !important;
    /* height: calc(100vh - 70px) !important; */
  }
  #MenuCuenta .ant-menu-item {
    margin: 0 !important;
  }
  #MenuCuenta .ant-menu-submenu {
    margin: 0 !important;
  }
  .imageCol img, .imageCol .js-image-zoom__zoomed-image {
    width: 95vw !important;
    height: 95vw !important;
  }
  .ant-collapse-content-box {
    padding: 5px !important;
  }
  .ant-carousel .slick-slide img {
    object-fit: contain;
    /* display: block; */
    /* height: auto; */
    /* width: auto; */
    max-height: 100%;
    /* max-width: 100%; */
    height: 200px;
  }
  .itemPromoV2 img {
    object-fit: contain !important;
    width: 100% !important;
    height: 180px !important;
  }
  .imageItemPromoLoader {
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 200px !important;
  }
  .imageItemPromoV2Loader {
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 180px !important;
  }
  .imageItemView img {
    /* display: block; */
    /* height: auto !important;
    width: auto;
    max-width: 70%;
    max-height: 40%;
    object-fit: fill;
    */
    object-fit: contain;
    /* width: 100%; */
    /* height: 180px; */
  }
  .imageItemPromoV2 img {
    object-fit: contain;
  }
  .imageItemViewLoader {
    /* display: block; */
    /* height: auto !important;
    width: auto;
    max-width: 70%;
    max-height: 40%;
    object-fit: fill;
    */
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 180px !important;
  }
  .imageItemCombo {
    object-fit: contain;
    width: 100%;
    height: 50px;
  }
  .imageItemComboLoader {
    object-fit: contain;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 50px !important;
  }
  .ant-back-top {
    bottom: 60px !important;
    right: 10px !important;
  }
  .imageItemViewCart {
    object-fit: contain;
    width: 100%;
    height: 130px;
  }
  .imageItemViewCartLoader {
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 130px !important;
  }
  .imageItemDropdownCart {
    object-fit: contain;
    width: 100%;
    height: 70px;
  }
  .imageItemDropdownCartLoader {
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 70px !important;
  }
  .imageItemPedidoDetalle {
    object-fit: contain;
    width: 100%;
    height: 70px;
  }
  .imageItemPedidoDetalleLoader {
    object-fit: contain;
    width: 100% !important;
    /* position: relative !important; */
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    height: 70px !important;
  }
}

@media (max-width: 768px) {
  .ant-back-top {
    bottom: 80px !important;
    right: 20px !important;
  }
}

@media (max-width: 992px) {
  .ant-back-top {
    bottom: 90px !important;
    right: 40px !important;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */